@media all {
  /**************************/
  /* CSS Reset
  /**************************/

  .ouiseo * {
    color: black;
    font-family:  Helvetica, Arial, sans-serif;
    border: 0;
    font-size: 16px;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    text-align: left;
    float: none;
    line-height: 1;
  }

  /**************************/
  /* Frame Styles
  /**************************/

  #ouiseo_frame {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.75);
    cursor: pointer;
    z-index: 2147483640;
  }

  #ouiseo {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 2147483647;
    border: 10px solid rgba(0,0,0,.5);
    margin: -5px 0 0 -5px;
    background: white;
    overflow-y: scroll;
    background-color: #384b5f;
  }

  #ouiseo p {
    font-size: 16px;
    color: black;
    text-align: left;
    float: none;
  }

  /**************************/
  /* Other Styles
  /**************************/

  #ouiseo-author {
    color: white;
    text-align: center;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    display: block;
    font-size: 16px;
  }

  #ouiseo-author a {
    color: white;
  }

  #ouiseo h2 {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    margin: 10px 10px 20px 10px;
  }

  #ouiseo-results {
    margin: 10px;
  }

  input[type='text'].ouiseo-input-text  {
    width: 500px;
    font-size: 16px;
    color: black;
    border: 1px gray solid;
    padding: 2px 5px;
    margin: 7px 0;
    width: 98%;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    text-align: left;
    height: auto;
    line-height: 1;
  }

  .ouiseo-basic-result, .ouiseo-social-result {
    margin: 12px;
  }

  .ouiseo-social-image {
    margin: 0 10px 10px 10px;
    height: 50px;
    width: 50px;
  }

  /*SEO Styles*/

  #ouiseo-basic-seo {
    background-color: #d87d6d;
    padding: 5px;
  }

  #ouiseo-basic-seo p.ouiseo-basic-result, #ouiseo-basic-seo p.ouiseo-basic-result span {
    color: #73473d;
  }

  #ouiseo-basic-seo p.ouiseo-basic-result input.ouiseo-input-text {
    color: white;
    background-color: #d87d6d;
    border: 1px #73473d solid;
    padding: 7px;
  }

  /*Facebook Styles*/
  #ouiseo-facebook {
    background-color: #4b9ed3;
    padding: 5px;
  }

  #ouiseo-facebook p.ouiseo-social-result, #ouiseo-facebook p.ouiseo-social-result span {
    color: #31566e;
  }

  #ouiseo-facebook p.ouiseo-social-result input.ouiseo-input-text {
    color: white;
    background-color: #4b9ed3;
    border: 1px #31566e solid;
    padding: 7px;
  }

  /*Twitter Styles*/
  #ouiseo-twitter {
    background-color: #6cc3e9;
    padding: 5px;
  }

  #ouiseo-twitter p.ouiseo-social-result, #ouiseo-twitter p.ouiseo-social-result span {
    color: #356d91;
  }

  #ouiseo-twitter p.ouiseo-social-result input.ouiseo-input-text {
    color: white;
    background-color: #6cc3e9;
    border: 1px #356d91 solid;
    padding: 7px;
  }

}